 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="about">About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="about">I'm a final year BSc. Computer Systems student at the University of Limerick. My current QCA is 86.5% and I am currently on track to graduating with a First Class Honors Degree.</p>
                </div>
                <div class="col-lg-4">
                    <p class="about"> </p>
                </div>
            </div>
        </div>
    </section>
