 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="about">About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="about">I'm a final year BSc. Computer Systems student at the University of Limerick. My current QCA is 86.5% and I am currently on track to graduating with a First Class Honors Degree.</p>
                </div>
                <div class="col-lg-4">
                    <p class="about">Over my last 4 years at UL, I have become proficient at Java, Typescript and HTML/CSS. Below are a few of my main projects that I have completed through college. For more info about me,</p>
                    <p class="about" href="https://www.linkedin.com/in/shelley-howarth-68678b189/">here's my Linkedin.</p>
                </div>
            </div>
        </div>
    </section>
